$grid-width: 62.5rem; // 1000px
$gutter-vertical: 2.5rem; // 40px
$gutter-horizontal: 2.5rem; // 40 px

// dark theme color
$dark-background-color: rgb(24, 24, 24);
$dark-cards-color: rgb(61, 61, 61);
$dark-font-color: white;

// $dark-shadow-color: rgba(0, 0, 0, 0.3);
// $dark-hover-shadow-color: rgba(247, 6, 6, 0.507);

$dark-shadow-color: rgba(0, 0, 0, 0.767);
$dark-hover-shadow-color: rgba(247, 6, 6, 0.507);
